table {
    margin: 50px;
    padding: 0px;
    border: solid gray 5px;
}

td {
    border: 1px gray solid;
    width: 100px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    color: darkgray;
}

td:hover{
    background: #f5f5f5;
}

.winner{
    background-color: aquamarine;
}

#info{
    margin: 50px;
}